$btn-border-radius: 20px;
$body-font-family: "Roboto", sans-serif;
$border-radius-root: 10px;

$headings: (
  "h1": (
    "size": 3.3125rem,
    "line-height": 1.15em,
    "font-family": "Oxygen",
  ),
  "h2": (
    "size": 2.25rem,
    "line-height": 1.5em,
    "font-family": "Oxygen",
  ),
  "h3": (
    "size": 1.55rem,
    "line-height": 1.5em,
    "font-family": "Oxygen",
  ),
);
