/* Build a Material theme */
// To begin customizing your theme, modify these variables. By default each theme starts off with our baseline values, so you can easily swap them out.

@use "@material/theme"  as theme-variables  with(
  $primary: #213159,
  $on-primary: #e7e7e7,

  $secondary:  #3d6098,
  $on-secondary:#e7e7e7,

  $surface: #e7e7e7,
  $on-surface: #333333,

  $background:#e7e7e7,

  $error : #f05b5c, 
  $on-error:#e7e7e7,

);

/* Shape */
// The shapes of small, medium, and large components can be themed by overriding the default values. We recommend using our shape customization tool to help you pick your radius values. https://material.io/design/shape/about-shape.html#shape-customization-tool
@use "@material/shape" with(
  $small-component-radius: 20px,
  $medium-component-radius: 10px,
  $large-component-radius: 0,
);
